body{
    text-align: center;
    background-color: cadetblue;
}
.title{
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    margin: 3%;
    color: cornsilk;
    line-height: 1.5em;
}
.container{
    display: block;
    width: 50%;
    margin: auto;
}
.start{
    margin: auto;
    width: 100px;
    height: 50px;
    font-family: 'Press Start 2P', cursive;
}
.btn{
    width: 200px;
    height: 200px;
    margin: 25px;
    display: inline-block;
    border: 10px solid black;
    border-radius: 20%;

}
@media (max-width:500px)
{
    .btn{
        width: 80px;
        height: 80px;
        margin: 10px;
        display: inline-block;
        border: 5px solid black;
        border-radius: 20%;
    
    }
    .title{
        font-family: 'Press Start 2P', cursive;
        font-size: 1rem;
        margin: 3%;
        color: cornsilk;
        line-height: 1.5em;
    }
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
  }
  .game-over {
    background-color: red;
    opacity: 0.8;
  }